<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,800;1,400&family=Roboto:wght@700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">  
        <link rel="stylesheet" href = "style.css"> 
        <script src="https://kit.fontawesome.com/62ec86d023.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="script2.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <script>
            let total = <%-total%>;
            let subtotal = <%-subtotal%>;
        </script>
    </head>

    <header style="padding-bottom: 0%;">
        <div id="logoWrapper">
            <img id="logo" src="BBLogo.png">   
            <h3 id="bulletTitle">bulletbill</h3>
        </div>
        <!--<a href="/numPeople">Number of People Input</a>-->
    </header>

    <body id="grad" style = "text-align: center;">
        <table>
            <tr id="itemhead">
                <th> Items </th>
                <th> Price </th>
                <th> Person </th>
            </tr>

            <tbody id="items" class="items">
                <% var obj = JSON.parse(data) %>
                <% var countP = 0 %>
                <%for(let item in obj["items"]){ %>
                    <%countP++%>
                    <tr>
                        <th><%-item%></th>
                        <th>$<%-obj["items"][item].toFixed(2)%></th>
                        <th>
                            <select class="dropDown" name="person" id="person<%-countP%>">
                                <% for(var i = 1; i<=count; i++){ %>
                                    <%let str = "Person " + i%>
                                    <option value="<%-str%>"><%-str%></option>
                                <%}%>
                              </select>
                        </th>
                    </tr>
                <%} %>
            </tbody>
        </table>

        <table id="pnumbers">
            <thead>
                <tr>
                    <th> Person </th>
                    <th> Phone Number </th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 1; i<=count; i++){ %>
                    <tr>
                        <th><%-i%></th>
                        <th>
                             <%let str = "Person " + i%>
                             <input  class="pnumInput" id= "<%-str%>"name="<%-str%>" type="tel" placeholder = "Ex. 1234567890" size=20 required/>
                        </th>
                    </tr>
                <%}%>
            </tbody>
        </table>

        <input id= "venmo" type="text" placeholder = "@Venmo Handle" size=20 required/>
        <button id="continue"><i class="fa-solid fa-arrow-right"></i>  Send </button>
    </body>
</html>